__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# DB
#*.db # Permitir la BD inicial en el repo si se desea, o descomentarlo para que cada entorno la cree
*.sqlite3

# Logs
*.log
archivos_clientes/
